canvas {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -9999;
}

.content {
    position: relative;
    width: 70%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 15px;
    margin-top: 40px;
    border-radius: 5px;
}

body {
    background-color: #efefef;
}
